table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

div.table {
    height: 32em;
    max-width: 100%;
}
div.table > table {
    max-width: 100%;
}
/* N */
table > tbody > tr > td:nth-child(1) {
    min-width: 3em;
    max-width: 3em;
    text-align: right;
}
/* TIME */
table > tbody > tr > td:nth-child(2) {
    min-width: 9em;
    max-width: 9em;
}
/* Status */
table > tbody > tr > td:nth-child(3) {
    min-width: 2em;
    max-width: 2em;
    text-align: right;
}
/* URI */
table > tbody > tr > td:nth-child(4) {
    min-width: 30em;
    max-width: 30em;
}
/* IP */
table > tbody > tr > td:nth-child(5) {
    min-width: 9em;
    max-width: 9em;
}
/* PORT */
table > tbody > tr > td:nth-child(6) {
    min-width: 3em;
    max-width: 3em;
    text-align: right;
}
/* UA */
table > tbody > tr > td:nth-child(7) {
    max-width: 50em;
    width: stretch;
}

table > tbody > tr:nth-child(2n) {
    background-color: lightgoldenrodyellow;
}

table > tbody > tr > td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

input[type=text] {
    width: 100%;
}
